button {
  background-color: #CCFFFF;
  border-color: #00080f;
  font-size: 20px;
  border-radius: 20px;
  font-family: courier;
}

input {
  background-color: #CCFFFF;
  border-color: #00080f;
  font-size: 23px;
  border-radius: 20px;
  font-family: courier;
}

h1 {
  border-bottom: 4px solid #800000;
  width: 250px;
  border-right: 4px solid #800000;
  background-color: #b92424;
  font-size: 50px;
  font-family: courier;
  color: #ffab00;
}

body {
  background-color: #1e237c;
}

p {
  font-size: 20px;
  font-family: courier;
}

#sortable1 {
  color: #800000;
  border: 1px solid #800000;
  width: 100%;
  min-height: 20px;
  list-style-type: none;
  margin: 0;
  padding: 5px 0 0 0;
  margin-right: 10px;
  table-layout: fixed;
  font-size: 20px;
  border-radius: 20px;
  font-family: courier;
  background: #ea9311;
}

#sortable2 {
  color: #800000;
  border: 1px solid #800000;
  width: 100%;
  min-height: 20px;
  list-style-type: none;
  margin: 0;
  padding: 5px 0 0 0;
  margin-right: 10px;
  table-layout: fixed;
  font-size: 20px;
  border-radius: 20px;
  font-family: courier;
    background: #ea9311;
}

#sortable3 {
  color: #800000;
  border: 1px solid #800000;
  width: 100%;
  min-height: 20px;
  list-style-type: none;
  margin: 0;
  padding: 5px 0 0 0;
  margin-right: 10px;
  table-layout: fixed;
  font-size: 20px;
  border-radius: 20px;
  font-family: courier;
  background: #ea9311;
}

#sortable1 li {
  margin: 0 5px 5px 5px;
  padding: 5px;
  font-size: 20px;
  width: auto;
  table-layout: fixed;
  font-family: courier;
}

#sortable2 li {
  margin: 0 5px 5px 5px;
  padding: 5px;
  font-size: 20px;
  width: auto;
  table-layout: fixed;
  font-family: courier;
}

#sortable3 li {
  margin: 0 5px 5px 5px;
  padding: 5px;
  font-size: 20px;
  width: auto;
  table-layout: fixed;
  font-family: courier;
}

.todoMaster {
  color: #800009;
  display: inline-table;
  width: 30%;
  height: 100%;
  border: 2px solid;
  padding: 15px;
  background: #ffab00;
  table-layout: fixed;
  border-radius: 20px;
}

.doingMaster {
  color: #800009;
  display: inline-table;
  width: 30%;
  height: 100%;
  border: 2px solid;
  padding: 15px;
  background: #ffab00;
  table-layout: fixed;
  border-radius: 20px;
}

.doneMaster {
  color: #800009;
  display: inline-table;
  width: 30%;
  height: 100%;
  border: 2px solid;
  padding: 15px;
  background: #ffab00;
  table-layout: fixed;
  border-radius: 20px;
}

#time{
  color: #ffab00;
  font-size: 35px;
  text-align: center;
  padding: 20px;
}
